<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.snijsure.rssreader" >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name= "android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name="com.snijsure.rssreader.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.NoActionBar" >
        <activity
            android:name="com.snijsure.rssreader.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AddNewSiteActivity" />
        <service android:name=".RssService"
            android:stopWithTask="false"/>
        <activity android:name=".DisPlayWebPageActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:configChanges="keyboardHidden|orientation" />
        <activity android:name=".ListRSSItemsActivity"
            android:configChanges="keyboardHidden|orientation"/>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="59f13ca0257c1df7e9422d6c5afaf91936a2e8ff"
            />
    </application>

</manifest>
